body {
  padding-top: 69px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.calendar {
  border: 1px solid #555;
  width: 238px;
}
.calendar .row {
  margin-left: 0px;
}
.calendar .row div {
  float: left;
  padding: 2px;
  width: 30px;
  text-align: center;
}
.calendar-nav-left {
  float: left;
  width: 20px;
  padding: 2px;
}
.calendar-nav-right {
  float: left;
  width: 20px;
  padding: 2px;
  text-align: right;
}
.calendar .row .calendar-hdr {
  padding: 2px;
  float: left;
  width: 166px;
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.date-picker {
  position: absolute;
  top: -7px;
  left: 209px;
  background-color: #272b30;
}
