.panel.panel-primary
  .panel-heading.text-center Available Features
  .panel-body
    .row
      .col-lg-12
        a.btn.btn-primary(href="/search",style="width: 100%;margin-bottom: 10px;") Book Search & Check-Out
        a.btn.btn-primary(href="/loan",style="width: 100%;margin-bottom: 10px;") Search & Check-In
        a.btn.btn-primary(href="/borrower",style="width: 100%;margin-bottom: 10px;") Borrower Management
        a.btn.btn-primary(href="/fines",style="width: 100%;margin-bottom: 10px;") Fines
