.container
  .jumbotron
    h1 Library Management System
    p Welcome to E -Library Management System! This ia a Single Page Application running on a Node.js server, using Angular JS, MySQL and MongoDB.

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/library-branches'")